<div class="container">
  <div class="row">
    <h1 class="mb-5 mt-3">NEST Time Sheet Helper (OPS)</h1>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Select Project</label>
        <select [(ngModel)]="selectedProject" name="project-name" class="form-select"
          aria-label="Default select example">
          <option selected value="select">Select</option>
          <option *ngFor="let i of projects" [value]="i">{{i}}</option>
        </select>
        <div style="color: red;" class="form-text">{{selectProjectErrorMessage}}</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Hours</label>
        <input [(ngModel)]="hours" type="number" class="form-control" id="hours" name="hours" aria-describedby="hours">
        <div style="color: red;" class="form-text">{{hoursErrorMessage}}</div>
        <div id="emailHelp" class="form-text">Please enter hours between 0 to 8.</div>
      </div>
      <div *ngIf="selectedProject !=='Unutilized hours'" class="mb-3">

        <label for="comment" class="form-label">Comment</label>
        <input [(ngModel)]="comment" name="comment" type="text" class="form-control" id="comment">
        <div style="color: red;" class="form-text">{{commentErrorMessage}}</div>
        <div id="emailHelp" class="form-text">Please enter in format- TicketNo:Ticket Title. (use this format strictly
          with ':')
        </div>
        <div id="emailHelp" class="form-text">eg. UFG-443:Jira Ticket Title</div>
      </div>
      <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <button type="submit" (click)="doSomething()" class="btn btn-info">Generate NEST Message</button>
    </form>

    <div *ngIf="finalMessage !== '' " class="row mt-4">
      <div class="col-10">
        <div class="mb-3 mt-3">
          <label for="exampleInputPassword1" class="form-label">Output</label>
          <textarea [disabled]="true" [(ngModel)]="finalMessage" class="form-control" name="output-comment"
            id="output-comment" cols="5" rows="3"></textarea>

        </div>
      </div>
      <div class="col-2 text-center center mt-auto mb-auto"><button type="" (click)="copyToClipboard()"
          [disabled]="finalMessage === '' " class="btn btn-{{clipboardColor}}">{{clipboardText}}</button></div>
    </div>
  </div>
</div>